<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/website.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
