/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */

#main 
{
    padding: 0px 30px 30px 30px;
}

/* Styles for validation helpers-----------------------------------------------------------*/
.field-validation-error 
{
    color: #ff0000;
}
.field-validation-valid 
{
    display: none;
}
.input-validation-error 
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.validation-summary-errors 
{
    font-weight: bold;
    color: #ff0000;
}
.validation-summary-valid 
{
    display: none;
}
